
*{ 
  margin: auto; 
  box-sizing: border-box; 
} 

.div { 
  width: 400px; 
  margin: auto; 
  height: 300px; 
  box-shadow: 10px 8px 10px rgba(4, 43, 45, 0.948); 
  margin-top: 50px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  background-image: url(https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=327&q=80); 
  background-repeat: no-repeat; 
  background-size: cover; 
} 

#num1 { 
  text-align: center; 
  background-color: rgba(230, 141, 78, 0.289); 
  border: 0; 
  padding: 8px; 
  border-radius: 8px; 
  color: #fff; 
  outline: none; 
  transition: all 0.2s ease; 
  box-shadow: 2px 3px 5px rgb(4, 43, 45); 
} 

#num1:active { 
  background-color: rgb(150, 68, 9); 
  transform: scale(0.96); 
} 

#num2 { 
  background-color: rgba(230, 141, 78, 0.467); 
  border: 0; 
  padding: 8px; 
  border-radius: 8px; 
  color: #fff; 
  outline: none; 
  transition: all 0.2s ease; 
  box-shadow: 2px 3px 5px rgb(4, 43, 45); 
  text-align: center; 
} 

#num2:active { 
  background-color: rgb(150, 68, 9); 
  transform: scale(0.96); 
} 

#result { 
  text-align: center; 
  background-color: rgba(230, 141, 78, 0.46); 
  border: 0; 
  padding: 9px; 
  border-radius: 8px; 
  color: #fff; 
  outline: none; 
  transition: all 0.2s ease; 
  box-shadow: 2px 3px 5px rgb(4, 43, 45); 
} 

#result:active { 
  background-color: rgb(150, 68, 9); 
  transform: scale(0.96); 
} 

#oper { 
  color: #fff; 
  padding: 8px 22px; 
  border-radius: 8px; 
  background-color: cadetblue; 
  transition: all 0.2s ease; 
  border: 0; 
  margin-bottom: 15px; 
  box-shadow: 2px 3px 5px rgb(4, 43, 45); 
} 

#oper:active { 
  background-color: rgb(4, 43, 45); 
  transform: scale(0.96); 
} 

.ravno { 
  display: flex; 
  margin-bottom: 15px; 
  color: #fff; 
  padding: 8px 22px; 
  border-radius: 8px; 
  background-color: cadetblue; 
  transition: all 0.2s ease; 
  border: 0; 
  box-shadow: 2px 3px 5px rgb(4, 43, 45); 
} 

.ravno:active { 
  background-color: rgb(4, 43, 45); 
  transform: scale(0.96); 
} 

.div>h1 { 
  color: darkgray; 
}

